
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UpdateIndex</title>
    @Styles.Render("~/table/css")
    <style>

        body {
            background-color: #ffffff;
        }
    </style>
</head>
<body>
    <div class="layui-form layuimini-form">
        <div class="layui-form-item">
            <label class="layui-form-label required">业主账号</label>
            <div class="layui-input-block">
                <input type="text" name="UserID" lay-verify="required" class="layui-input" value="@ViewBag.model.UserID" readonly="readonly" style="color:red">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label required">业主名字</label>
            <div class="layui-input-block">
                <input type="text" name="Name" lay-verify="required" placeholder="请输入业主名字" class="layui-input" value="@ViewBag.model.Name">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label required">手机号码</label>
            <div class="layui-input-block">
                <input type="text" name="Phone" lay-verify="required|phone" placeholder="请输入手机号码" class="layui-input" value="@ViewBag.model.Phone">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label required">身份编号</label>
            <div class="layui-input-block">
                <input type="text" name="IDNumber"  class="layui-input" value="@ViewBag.model.IDNumber" readonly="readonly" style="color:red;">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label required">性别</label>
            <div class="layui-input-block">
                <input type="radio" name="Sex" value="0" title="男" checked="" id="sexRadio1">
                <input type="radio" name="Sex" value="1" title="女" id="sexRadio2">
            </div>
        </div>
        @if (string.IsNullOrEmpty(@ViewBag.model.HousID))
        {
            <div class="layui-form-item">
                <label class="layui-form-label required">房屋编号</label>
                <div class="layui-input-block">
                    <select name="HousID" id="Housid" lay-verify="required">
                        <option value="">请选择</option>
                        @foreach (var item in @ViewBag.houseInfo)
                        {
                            <option value=@item.HousID>@item.HousID (@item.Purpose)</option>
                        }
                    </select>
                </div>
            </div>
        }
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn layui-btn-normal" lay-submit lay-filter="saveBtn">确认添加</button>
            </div>
        </div>
    </div>
    @Scripts.Render("~/table/js")
    <script>

        //使用jq给下拉框赋值
        //$('#sexid').val(@ViewBag.model.Sex);
        //动态设置单选框的选中

    if (@ViewBag.model.Sex == 1) {
        $("#sexRadio1").prop("checked", false);
        $("#sexRadio2").prop("checked", true);
    }

    if (@ViewBag.model.Sex == 0) {
        $("#sexRadio1").prop("checked", true);
        $("#sexRadio2").prop("checked", false);
            }
        //$('#Housid').val('@ViewBag.model.HousID');


        //使用layui的form模块
        layui.use(['form'], function () {
            var form = layui.form//实例化
                , layer = layui.layer
                , $ = layui.$
                           //监听提交
            form.on('submit(saveBtn)', function (data) {

                var UserInfoJson = JSON.stringify(data.field);
                $.ajax({
                    url: '/UserInfo/UserInfoUpdate',
                    type: 'POST',
                    data: {
                        UserInfoJson: UserInfoJson
                    },

                    success: function (data) {
                        if (data == "ok") {

                           var index = layer.alert("修改成功", {
                                title: '温馨提示'
                            }, function () {

                                // 关闭弹出层
                                layer.close(index);

                                var iframeIndex = parent.layer.getFrameIndex(window.name);
                                   parent.layer.close(iframeIndex);
                                   window.parent.btn_search();//刷新父窗口表格
                           })
                        }
                        else {
                            layer.alert("添加失败，请重新添加！");
                        }
                    }
                })
                return false;
            });
        });
    </script>

</body>
</html>

